<a href="https://colab.research.google.com/github/ihyaulumuddin044/Pengantar_ML/blob/main/modules/Data_Prepocessing/Data_Prepocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np

# --- 1. Membuat Dataset Mentah ---
data = {
    'ID Pelanggan': [1, 2, 3, 4, 5, 6, 7, 8],
    'Nama': ['Budi', 'Ana', 'Cici', 'Didi', 'Budi', 'Eka', 'Fafa', 'Ana'],
    'Usia': [28, '-', 35, 22, 28, 40, np.nan, 30], # np.nan adalah representasi Missing Value
    'Kota Tinggal': ['Jakarta', np.nan, 'Bandung', 'jakarta', 'Jakarta', np.nan, 'Surabaya', 'Medan'],
    'Pendapatan (juta)': [5.5, '-', 7.25, 4.0, 5.5, 12.0, 6.0, 6.5],
    'Status Member': ['Premium', 'Reguler', 'Premium', '-', 'Premium', 'Premium', 'Reguler', 'Reguler']
}
df = pd.DataFrame(data)

print("--- Dataset Mentah Awal ---")
print(df)
print("\n--- missing values ---")
print(df.isnull().sum())

--- Dataset Mentah Awal ---
   ID Pelanggan  Nama Usia Kota Tinggal Pendapatan (juta) Status Member
0             1  Budi   28      Jakarta               5.5       Premium
1             2   Ana    -          NaN                 -       Reguler
2             3  Cici   35      Bandung              7.25       Premium
3             4  Didi   22      jakarta               4.0             -
4             5  Budi   28      Jakarta               5.5       Premium
5             6   Eka   40          NaN              12.0       Premium
6             7  Fafa  NaN     Surabaya               6.0       Reguler
7             8   Ana   30        Medan               6.5       Reguler

--- missing values ---
ID Pelanggan         0
Nama                 0
Usia                 1
Kota Tinggal         2
Pendapatan (juta)    0
Status Member        0
dtype: int64

In [10]:
# --- 2. Menangani Missing Values dan Inkonsistensi Awal ---

# 2.1 Mengidentifikasi dan Mengganti Nilai 'Tidak Valid' dengan NaN
# Kolom 'Usia', 'Pendapatan (juta)', dan 'Status Member' memiliki '-' sebagai missing value
df.replace('-', np.nan, inplace=True)

print("--- Setelah Mengganti '-' dengan NaN ---")
print(df)
print("\n" + "="*40 + "\n")

# 2.2 Mengecek Missing Values
print("--- Jumlah Missing Values di Setiap Kolom ---")
print(df.isnull().sum())
print("\n" + "="*40 + "\n")

# 2.3 Mengisi Missing Values
# Kolom 'Usia': Numerik, kita bisa pakai median karena lebih tahan terhadap outlier
df['Usia'] = pd.to_numeric(df['Usia']) # Pastikan kolom menjadi numerik sebelum mengisi
median_usia = df['Usia'].median()
df['Usia'].fillna(median_usia, inplace=True)

# Kolom 'Kota Tinggal': Kategorikal, kita bisa pakai modus (nilai paling sering muncul)
modus_kota = df['Kota Tinggal'].mode()[0] # .mode() bisa mengembalikan beberapa modus, ambil yang pertama
df['Kota Tinggal'].fillna(modus_kota, inplace=True)

# Kolom 'Pendapatan (juta)': Numerik, kita pakai median
df['Pendapatan (juta)'] = pd.to_numeric(df['Pendapatan (juta)'])
median_pendapatan = df['Pendapatan (juta)'].median()
df['Pendapatan (juta)'].fillna(median_pendapatan, inplace=True)

# Kolom 'Status Member': Kategorikal, kita bisa pakai modus
modus_member = df['Status Member'].mode()[0]
df['Status Member'].fillna(modus_member, inplace=True)


print("--- Setelah Mengisi Missing Values ---")
print(df)
print("\n" + "="*40 + "\n")

# --- 3. Mengatasi Inkonsistensi Data (Standardisasi Teks) ---
# Kolom 'Kota Tinggal': Mengubah semua menjadi huruf kapital di awal kata (Title Case)
df['Kota Tinggal'] = df['Kota Tinggal'].str.title()

print("--- Setelah Standardisasi 'Kota Tinggal' ---")
print(df)
print("\n" + "="*40 + "\n")

# --- 4. Menghapus Duplikasi Data ---
# Mengecek duplikasi (kecuali kolom ID, karena ID Pelanggan unik)
# Kita anggap duplikasi adalah jika Nama, Usia, Kota Tinggal, Pendapatan, dan Status Member sama
df_cleaned = df.drop_duplicates(subset=['Nama', 'Usia', 'Kota Tinggal', 'Pendapatan (juta)', 'Status Member'])

# Untuk kasus ini, ID 1 dan ID 5 adalah duplikat sempurna, kita ingin mempertahankan satu saja.
# drop_duplicates secara default mempertahankan baris pertama yang ditemukannya.
# Karena ID Pelanggan 1 dan 5 memiliki nilai yang sama di semua kolom relevan,
# baris dengan ID 5 akan dihapus jika kita menghapus duplikat berdasarkan semua kolom kecuali ID.
# Atau, jika kita ingin mempertahankan ID yang berbeda, kita bisa menggunakan .drop_duplicates(subset=[kolom-lainnya])
# Mari kita lihat hasilnya dengan drop_duplicates sederhana yang melihat semua kolom
df_cleaned = df.drop_duplicates()


print("--- Setelah Menghapus Duplikasi ---")
print(df_cleaned)
print("\n" + "="*40 + "\n")

# --- 5. Ringkasan Akhir ---
print("--- Dataframe Akhir Setelah Cleaning ---")
print(df_cleaned)
print("\nJumlah baris setelah cleaning:", len(df_cleaned))
print("Jumlah missing values setelah cleaning:\n", df_cleaned.isnull().sum())

--- Setelah Mengganti '-' dengan NaN ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana   NaN          NaN                NaN       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      jakarta               4.00           NaN
4             5  Budi  28.0      Jakarta               5.50       Premium
5             6   Eka  40.0          NaN              12.00       Premium
6             7  Fafa   NaN     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

========================================

--- Jumlah Missing Values di Setiap Kolom ---
ID Pelanggan         0
Nama                 0
Usia                 2
Kota Tinggal         2
Pendapatan (juta)    1
Status Member        1
dtype: int64

========================================

--- Setelah Mengisi Missing Values ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      jakarta               4.00       Premium
4             5  Budi  28.0      Jakarta               5.50       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

========================================

--- Setelah Standardisasi 'Kota Tinggal' ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      Jakarta               4.00       Premium
4             5  Budi  28.0      Jakarta               5.50       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

========================================

--- Setelah Menghapus Duplikasi ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      Jakarta               4.00       Premium
4             5  Budi  28.0      Jakarta               5.50       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

========================================

--- Dataframe Akhir Setelah Cleaning ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      Jakarta               4.00       Premium
4             5  Budi  28.0      Jakarta               5.50       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

Jumlah baris setelah cleaning: 8
Jumlah missing values setelah cleaning:
 ID Pelanggan         0
Nama                 0
Usia                 0
Kota Tinggal         0
Pendapatan (juta)    0
Status Member        0
dtype: int64

<ipython-input-10-5d7f2fc63228>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('-', np.nan, inplace=True)
<ipython-input-10-5d7f2fc63228>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Usia'].fillna(median_usia, inplace=True)
<ipython-input-10-5d7f2fc63228>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Kota Tinggal'].fillna(modus_kota, inplace=True)
<ipython-input-10-5d7f2fc63228>:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pendapatan (juta)'].fillna(median_pendapatan, inplace=True)
<ipython-input-10-5d7f2fc63228>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Status Member'].fillna(modus_member, inplace=True)

In [11]:
# Kolom 'Kota Tinggal' memiliki 'jakarta' dan 'Jakarta'. Ini inkonsisten.
# Kita akan menstandarisasi menjadi format yang seragam (misalnya, Capitalized/Title Case)
df['Kota Tinggal'] = df['Kota Tinggal'].str.title()

print("\n--- Setelah Standardisasi 'Kota Tinggal' (Title Case) ---")
print(df)

--- Setelah Standardisasi 'Kota Tinggal' (Title Case) ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      Jakarta               4.00       Premium
4             5  Budi  28.0      Jakarta               5.50       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

In [12]:
# Sebelum menghapus, mari kita lihat apakah ada duplikasi
print("\n--- Jumlah Baris Sebelum Menghapus Duplikasi ---")
print(len(df))

# Menghapus duplikasi. Secara default, Pandas akan mempertahankan baris pertama yang ditemukan.
# ID Pelanggan 1 dan 5 memiliki data yang sama persis di kolom lain
df_cleaned = df.drop_duplicates(subset=['Nama', 'Usia', 'Kota Tinggal', 'Pendapatan (juta)', 'Status Member'])

print("\n--- Setelah Menghapus Duplikasi ---")
print(df_cleaned)
print("\n--- Jumlah Baris Setelah Menghapus Duplikasi ---")
print(len(df_cleaned))

--- Jumlah Baris Sebelum Menghapus Duplikasi ---
8

--- Setelah Menghapus Duplikasi ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      Jakarta               4.00       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

--- Jumlah Baris Setelah Menghapus Duplikasi ---
7

In [13]:
print("\n--- Final DataFrame Setelah Data Cleaning ---")
print(df_cleaned)
print("\nJumlah Missing Values (Final):\n", df_cleaned.isnull().sum())

--- Final DataFrame Setelah Data Cleaning ---
   ID Pelanggan  Nama  Usia Kota Tinggal  Pendapatan (juta) Status Member
0             1  Budi  28.0      Jakarta               5.50       Premium
1             2   Ana  29.0      Jakarta               6.00       Reguler
2             3  Cici  35.0      Bandung               7.25       Premium
3             4  Didi  22.0      Jakarta               4.00       Premium
5             6   Eka  40.0      Jakarta              12.00       Premium
6             7  Fafa  29.0     Surabaya               6.00       Reguler
7             8   Ana  30.0        Medan               6.50       Reguler

Jumlah Missing Values (Final):
 ID Pelanggan         0
Nama                 0
Usia                 0
Kota Tinggal         0
Pendapatan (juta)    0
Status Member        0
dtype: int64

#Data Integration

In [18]:
Id_pelanggan = pd.read_csv('ID_Pelanggan.csv')
print(Id_pelanggan.head())

   ID_Pelanggan  Nama  Usia Kota_Tinggal Status_Member
0             1  Budi    28      Jakarta       Premium
1             2   Ana    30      Jakarta       Reguler
2             3  Cici    35      Bandung       Premium
3             4  Didi    22      Jakarta       Premium

In [23]:
ID_Transaksi = pd.read_csv('ID_Transaksi.csv')
print(ID_Transaksi.head())

   ID_Pelanggan Tanggal_Transaksi  Total_Belanja
0             1        15/01/2024         550000
1             2        20/01/2024         320000
2             3        01/02/2024         780000
3             1        10/02/2024         250000
4             5        12/02/2024         400000

In [24]:
# Contoh: Inner Join (paling umum jika kita hanya ingin data yang lengkap di kedua sisi)
df_gabungan_inner = pd.merge(Id_pelanggan, ID_Transaksi, on='ID_Pelanggan', how='inner')
print("--- DataFrame Gabungan (Inner Join) ---")
print("Hanya baris yang ada di kedua tabel (ID 1, 2, 3, 4)")
print(df_gabungan_inner)
print("\n" + "="*40 + "\n")

--- DataFrame Gabungan (Inner Join) ---
Hanya baris yang ada di kedua tabel (ID 1, 2, 3, 4)
   ID_Pelanggan  Nama  Usia Kota_Tinggal Status_Member Tanggal_Transaksi  \
0             1  Budi    28      Jakarta       Premium        15/01/2024
1             1  Budi    28      Jakarta       Premium        10/02/2024
2             2   Ana    30      Jakarta       Reguler        20/01/2024
3             3  Cici    35      Bandung       Premium        01/02/2024
4             4  Didi    22      Jakarta       Premium        15/02/2024

   Total_Belanja
0         550000
1         250000
2         320000
3         780000
4         150000

========================================

In [27]:
# Contoh: Left Join (Mempertahankan semua pelanggan inti, tambahkan transaksi jika ada)
df_gabungan_left = pd.merge(Id_pelanggan, ID_Transaksi, on='ID_Pelanggan', how='left')
print("--- DataFrame Gabungan (Left Join) ---")
print("Semua pelanggan dari df_pelanggan_inti akan ada. Jika tidak ada transaksi, nilai transaksi akan NaN.\n")
print(df_gabungan_left)
print("\n" + "="*40 + "\n")

--- DataFrame Gabungan (Left Join) ---
Semua pelanggan dari df_pelanggan_inti akan ada. Jika tidak ada transaksi, nilai transaksi akan NaN.

   ID_Pelanggan  Nama  Usia Kota_Tinggal Status_Member Tanggal_Transaksi  \
0             1  Budi    28      Jakarta       Premium        15/01/2024
1             1  Budi    28      Jakarta       Premium        10/02/2024
2             2   Ana    30      Jakarta       Reguler        20/01/2024
3             3  Cici    35      Bandung       Premium        01/02/2024
4             4  Didi    22      Jakarta       Premium        15/02/2024

   Total_Belanja
0         550000
1         250000
2         320000
3         780000
4         150000

========================================

In [30]:
# Contoh: Right Join (Mempertahankan semua transaksi, tambahkan info pelanggan jika ada)
df_gabungan_right = pd.merge(Id_pelanggan, ID_Transaksi, on='ID_Pelanggan', how='right')
print("--- DataFrame Gabungan (Right Join) ---")
print("Semua transaksi dari df_transaksi akan ada. Jika pelanggan tidak ada di df_pelanggan_inti, info pelanggan akan NaN.\n")
print(df_gabungan_right)
print("\n" + "="*40 + "\n")

--- DataFrame Gabungan (Right Join) ---
Semua transaksi dari df_transaksi akan ada. Jika pelanggan tidak ada di df_pelanggan_inti, info pelanggan akan NaN.

   ID_Pelanggan  Nama  Usia Kota_Tinggal Status_Member Tanggal_Transaksi  \
0             1  Budi  28.0      Jakarta       Premium        15/01/2024
1             2   Ana  30.0      Jakarta       Reguler        20/01/2024
2             3  Cici  35.0      Bandung       Premium        01/02/2024
3             1  Budi  28.0      Jakarta       Premium        10/02/2024
4             5   NaN   NaN          NaN           NaN        12/02/2024
5             4  Didi  22.0      Jakarta       Premium        15/02/2024

   Total_Belanja
0         550000
1         320000
2         780000
3         250000
4         400000
5         150000

========================================

In [32]:
# Contoh: Outer Join (Menggabungkan semua data, mengisi NaN jika tidak ada kecocokan)
df_gabungan_outer = pd.merge(Id_pelanggan, ID_Transaksi, on='ID_Pelanggan', how='outer')
print("--- DataFrame Gabungan (Outer Join) ---")
print("Semua data dari kedua tabel akan ada, dengan NaN untuk data yang tidak cocok.")
print(df_gabungan_outer)
print("\n" + "="*40 + "\n")

--- DataFrame Gabungan (Outer Join) ---
Semua data dari kedua tabel akan ada, dengan NaN untuk data yang tidak cocok.
   ID_Pelanggan  Nama  Usia Kota_Tinggal Status_Member Tanggal_Transaksi  \
0             1  Budi  28.0      Jakarta       Premium        15/01/2024
1             1  Budi  28.0      Jakarta       Premium        10/02/2024
2             2   Ana  30.0      Jakarta       Reguler        20/01/2024
3             3  Cici  35.0      Bandung       Premium        01/02/2024
4             4  Didi  22.0      Jakarta       Premium        15/02/2024
5             5   NaN   NaN          NaN           NaN        12/02/2024

   Total_Belanja
0         550000
1         250000
2         320000
3         780000
4         150000
5         400000

========================================